header{
    background-image:url(cachorrosorrindo.jpg);
    width: 100%;
    height: 190px;
}

.um{
    text-align: center; 
    margin: 10%;
}
.autor{
    text-align: right;
    margin-right: 35%;

};